.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
    text-decoration: none;
}

.card {
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(206, 206, 206, 0.726);
    transition: transform 150ms ease-in-out;
    cursor: pointer;
    background-color: #ffffff;
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
}

.card:hover {
    transform: scale(1.05);
}

.card > img {
    object-fit: cover;
    height: 220px;
    width: 100%;
}

.card-info {
    padding: 20px;
    border-top: 1px solid #eee;
}

.card-info h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    color: #333;
}

.card-info > h4 {
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0;
    color: #666;
}

.card-info h3 {
    font-size: 18px;
    font-weight: 600;
    color: #e95e7c;
    margin-top: 10px;
}
